
OnlineShopLogic/obj/Debug/net7.0/OnlineShopLogic.AssemblyInfoInputs.cache
*.cache
Online Shop/obj/Debug/net7.0/Online Shop.AssemblyInfoInputs.cache
OnlineShopDAL/obj/Debug/net7.0/OnlineShopDAL.AssemblyInfo.cs
OnlineShopDAL/obj/Debug/net7.0/OnlineShopDAL.AssemblyInfoInputs.cache
OnlineShopLogic/obj/Debug/net7.0/OnlineShopLogic.AssemblyInfo.cs
OnlineShopLogic/obj/Debug/net7.0/OnlineShopLogic.AssemblyInfoInputs.cache
OnlineShopLogicTests/obj/Debug/net7.0/OnlineShopLogicTests.AssemblyInfo.cs
OnlineShopLogicTests/obj/Debug/net7.0/OnlineShopLogicTests.AssemblyInfoInputs.cache
OnlineShopLogicTests/obj/Debug/net7.0/OnlineShopLogicTests.csproj.AssemblyReference.cache
OnlineShopModels/obj/Debug/net7.0/OnlineShopModels.AssemblyInfo.cs
OnlineShopModels/obj/Debug/net7.0/OnlineShopModels.AssemblyInfoInputs.cache
