
#recommendationItems{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;

}
.recommendedItem{
    display: inline-block;
    border: 1px solid black;
    margin: 2% 2% 1% 2%;
    width: 15%;
    height: 42%;
}


#recentItems{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
}
.recentItem{
    display: inline-block;
    border: 1px solid black;
    margin: 2% 2% 1% 2%;
    width: 15%;
    height: 87%;
}

#categoryMenu{
    
}
.categoryItem{
    margin: 4px;
    padding: 5px;
    font-size: 2vh;
    border: 1px solid white;
    border-radius: 20px;
    background: #ced4da;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.categoryItem:hover{
    background: white;
    transition: background-color 0.3s;
    transform: scale(1.02);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.categoryItemBtn{
    display: block;
    width: 100%;
    background: none;
    border: none;
    padding: 0;

}
.categoryItemBtn:hover{

}
.categoryItemForm{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}