html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%;
}

.form-inline  {
  min-width: 150px;
}

.pageContainer{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

main{
  flex: 1 1 auto;
}

/* Navigation */
.searchForm{
  margin-top: auto;
  margin-bottom: auto;

}

.ulAuth{

}

.liAuth{
  margin-top: auto;
  margin-bottom: auto;
}

.liAuth .form-inline{
  margin-top: auto;
  margin-bottom: auto;
  min-width: fit-content;
}

.ulNavContainer{
  /*
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 200px 200px;
  grid-gap: 2rem;
  background: red;
  padding: 1rem;
   */
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  
}
.ulNavContainerSearch{
  list-style: none;
  padding-inline-start: 0;
  

  flex: 0 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: 15%;
  margin-right: 15%;
}

.catalogIcon{
  width: 3vh;
  height: auto;
}
.catalog-btn{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.catalog-label{
}
.navFlex-item{

}
.divNavDropdown{
  width: 14vh;
  height: fit-content;
  display: flex;
  min-width: 115px;

}

.liNavHome{
}

.liNavPrivacy{
  
}

.liNavSearch{
  flex-grow: 1;
}


.divFormSearch{
  flex-grow: 1;
  min-width: 400px;
}
/* Navigation */


.containerContentMain{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: 40vh 40vh 40vh ;
  grid-gap: 2rem;
  background: gainsboro;
  padding: 1rem;
}

.grid-itemMain{
  background: white;
}

#carouselPromotion{
  grid-column: 5 / 19;
  grid-row: 1 / 2;
}
#categoryMenu{
  background: #0f5132;
  grid-column: 2 / 5;
  grid-row: 1 / 3;
}
#recommendationItems{
  background: #bfe2e9;
  grid-column: 5 / 19;
  grid-row: 2 / 3;
}
#recentItems{
  background: #86b7fe;
  grid-column: 5 / 19;
  grid-row: 3 / 4;
}




