@model OnlineShopLogic.Models.ItemTypes.ItemDecorations

@{
    Layout = null;
}

<div class="itemInfo">
    <h2>Item Description</h2>
    <h4>@Model.Name</h4>
    <h4>Color: @Model.Color</h4>
    <h4>Material: @Model.Material</h4>
    <h4>@Model.Description</h4>
</div>