@model OnlineShopLogic.Models.ItemTypes.ItemClothes

@{
    Layout = null;
}

<div class="itemInfo">
    <h2>Item Description</h2>
    <h4>@Model.Name</h4>
    <h4>Gender: @Model.Gender</h4>
    <h4>Size:  @Model.Size</h4>
    <h4>@Model.Description</h4>
</div>