@model OnlineShopModels.Models.Category

<div id="containerItemCharacteristics" class="gridItemItemCategory">

    <form asp-action="">
        <div>
            @Model.Name
        </div>
        
        
    </form>
    
</div>