@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<OnlineShopModels.Models.Category>

@{
    Layout = null;
}

<div id="categoryMenu" class="grid-itemMain">
    @foreach (var item in Model)
    {
        <form class="categoryItemForm" action="/@item.Name" method="get">
            <!--input type="hidden" name="category" value="item.Name" /-->
            <button type="submit" class="categoryItemBtn">
                <div class="categoryItem">
                    @item.Name
                </div>
            </button>
        </form>
    }
</div>