@model List<ItemWebModel>
@{
    Layout = null;
}

<div id="recommendationItems" class="grid-itemMain">
    @foreach (var item in Model)
    {
        <div class="recommendedItem">
            @item.Name
            @item.Description
        </div>
    }
</div>