@model List<ItemWebModel>

@{
    Layout = null;
}

<div id="recentItems" class="grid-itemMain">
     @foreach (var item in Model)
        {
            <div class="recentItem">
                @item.Name
                @item.Description
            </div>
        }
</div>