@{

}

<div id="cartMenu" class="cartMenu">
    <button id="closeCartButton" class="closeCartButton">
        <img src="~/Icons/closeCartIcon.png" alt="close"/>
    </button>

    <div class="cartItems">

        <div class="cartItem">
            <img class="cartItemImage" src="~/Item_Images/Blue.png" alt="item"/>
            
            <h3 class="cartItemName">Product product product</h3>
            
            <button class="quantityLess">
                <img src="~/Icons/arrowLess.png" alt="less"/>
            </button>
            
            <button class="quantityMore">
                <img src="~/Icons/arrowMore.png" alt="more"/>
            </button>
            
            <button class="cartRemoveItem">
                <img src="~/Icons/removeItem.png" alt="remove"/>
            </button>
        </div>

        <div class="cartItem">

        </div>

        <button class="cartConfirmOrder btn btn-success">Confirm Order</button>
    </div>

</div>

<div id="overlay" class="overlay"></div>