@{

}

<div id="cartMenu" class="cartMenu">
    <button id="closeCartButton" class="closeCartButton">
        <img src="~/Icons/closeCartIcon.png" alt="close"/>
    </button>
    hghfgh
    fgh;lgthkdrtjhkdrt
    rtgjtjgktkkkk
    ooopppppppppoinnmm

</div>

<div id="overlay" class="overlay"></div>