@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["CatalogIcon"] = "~/Icons/2976215.png";
}

<style>
    .catalog-btn{
        background-color: #007bff; /* Add your button background color here */
        color: #fff; /* Add your button text color here */
        padding: 10px 20px; /* Add padding as needed */
        border: none; /* Remove button border if needed */
        width: 7vh;
    }
    .catalog-btn img {
        max-width: 100%; /* Ensure the image doesn't exceed the button width */
        height: auto; /* Allow the height to adjust proportionally */
    }
    
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/ItemCategory.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/test.css" asp-append-version="true"/>
    <link rel="stylesheet" href="css/partial.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/@(nameof(OnlineShop)).styles.css" asp-append-version="true"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<div class="pageContainer" style="width: 100%">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineShop</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ulNavContainer">

                        <!-- 
                        <li class="nav-item liNavHome navFlex-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        <li class="nav-item liNavPrivacy navFlex-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        -->

                        <div class="btn-group divNavDropdown navFlex-item">
                            <button type="button" class="btn catalog-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                Catalog <img class="catalogIcon" src="~/@Configuration["Images:CatalogIconPath"]" alt="Catalog Icon"/>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another Action</a>
                                <a class="dropdown-item" href="#">Another Action</a>
                                <a class="dropdown-item" href="#">Another Action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>

                        <!--class offset-2 col-md-md-5 justify-content-center align-items-center/end/start -->


                    </ul>

                    <ul class="navbar-nav ulNavContainerSearch">

                        <li class="nav-item liNavSearch navFlex-item">
                            <form class="form-inline searchForm">
                                <div class="input-group divFormSearch">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </li>

                    </ul>


                    <partial name="_LoginPartial"/>

                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
            ;
        }
        else
        {
            <div class="container">
                &copy; 2023 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        }

    </footer>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

<script>
    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
    });
</script>

</body>
</html>