@model List<ItemWebModel>

@{
    ViewData["Title"] = "";
}

<div class="containerItemCategory">
    
    <div class="containerItemCharacteristics">
        
    </div>
    
    <div class="categoryPath">
        <a href="">Category</a>
        <a href="">SubCategory</a>
    </div>
    
    <div class="containerItems">
        
        @foreach (var item in Model)
        {
            <div class="item">
                @item.Name
                @item.Description
            </div>
        }
        
    </div>
    
</div>