@model ItemWebModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="itemPageContainer">

    <div id="itemPagePathLinks">
        <!-- display generalized category. category -> category.SubCategory -> category.Subcategory.Subcategory  -->
        <a href="">Category</a>
        <a href="">SubCategory</a>
    </div>

    <div class="itemPrimaryInfo">

        <section id="itemImage-carousel" class="splide itemImage" aria-label="Item pictures">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="~/Item_Images/Black.png" alt=""/>
                    </li>
                    <li class="splide__slide">
                        <img src="~/Item_Images/Blue.png" alt=""/>
                    </li>
                    <li class="splide__slide">
                        <img src="~/Item_Images/Green.png" alt=""/>
                    </li>
                </ul>
            </div>
        </section>

        <!--img class="itemImage" src="~/Item_Images/Black.png"/-->
        <h2 class="itemName">@Model.Name</h2>
        <img class="itemRatingIcon" src="~/Icons/ItemRatingIcons/5st.png" alt="rating"/>
        <h2 class="itemPrice">@Model.Price</h2>
        <h3 class="itemDescription">@Model.Description</h3>
        <form class="buyItemForm" method="post">
            <button type="button" class="buyItemBtn btn btn-success btn-lg">Buy <img class="buyItemIcon" src="~/Icons/shopping-cart.png"/></button>
        </form>
    </div>

    <div class="itemInfo">
        <h2>Item Description</h2>
        <h4>@Model.Description</h4>
    </div>

    <div class="itemReviews">
        <h2>Reviews</h2>
    </div>

</div>



<script>
document.addEventListener('DOMContentLoaded', function (){
    new Splide('#itemImage-carousel', {heightRatio: 1}).mount();
    } );
</script>